# blacklist everything in the root directory, effectively making the rest of this file a whitelist
/**

# include all dayA_partB.py
!day*_part?.py
# include all dayA_input.txt
!day*_input.txt

!.gitignore
